# OS
.DS_Store
Thumbs.db
*.local

# Monorepo
node_modules
.nx/cache
.nx/*
dist
tmp
coverage

# Go
bin
identity-api_mod_cache
**/vendor/

# Nuxt / Node
.nuxt
.output
.nitro
.cache
**/.pnpm-store
**/.npm
**/.yarn-integrity

# Generated API Types
libs/api-contract/.generated

# Environment
.env
.env.*
!.env.example

# Local Persistent Data
minio-data/

# Tools
GEMINI.md
.devcontainer

# Vercel
**/.vercel

# Docs
docs/internal/